<div
  class="upload-wrapper"
  (filesChangeEmiter)="onFileChange($event)"
  appDragDropFile
>
  <div class="upload-options">
    <button class="upload-btn">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M5.45 20.1c-.433 0-.812-.163-1.137-.488-.325-.325-.488-.704-.488-1.138V14.65H5.45v3.825h13.075V14.65h1.65v3.8c0 .45-.163.838-.488 1.163a1.587 1.587 0 0 1-1.162.487H5.45zm5.725-4.1V6.85L8.25 9.8 7.075 8.65 12 3.7l4.95 4.95-1.175 1.15-2.95-2.95V16h-1.65z"
          fill="gray"
        />
      </svg>
    </button>
    <span class="upload-text">
      {{ "Перетяните или" }}
      <label for="file-input" class="upload-label">{{ "выберите" }}</label>
      {{ "файл для загрузки" }}
    </span>
    <span class="file-format">{{ "xlsx" }}</span>
  </div>
  <input
      (change)="onInputFileChange($event)"
      class="upload"
      id="file-input"
      type="file"
      name="file"
      multiple
    />
</div>

<div *ngFor="let file of files">
  <span>{{ file.name }}</span>
</div>
