<form id="upload-container" method="POST" #uploadContainer appDragDropFile (filesChangeEmiter)="onFileChange($event)">
  <img id="upload-image" src="https://habrastorage.org/webt/dr/qg/cs/drqgcsoh1mosho2swyk3kk_mtwi.png">
  <div>
    <input id="file-input" type="file" name="file" multiple (change)="onInputFileChange($event)">
    <label for="file-input">Выберите файл</label>
    <span>или перетащите его сюда</span>
  </div>
</form>

<div *ngFor="let file of files">
  <span>{{file.name}}</span>
</div>
