.upload-wrapper {
  font-family: Arial;
	position: relative;
  margin-bottom: 0.9375rem;
  background: #fff;
  height: 6.125rem;
  width: 24.45rem;

  .upload {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.01rem;
    width: 0.01rem;
    opacity: 0;
  }

  .upload-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6.125rem;
    width: 24.45rem;

    background-image: repeating-linear-gradient(
      -10deg,
      #cccccc,
      #cccccc 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      #cccccc 1.25rem
    ),
    repeating-linear-gradient(
      80deg,
      #cccccc,
      #cccccc 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      #cccccc 1.25rem
    ),
    repeating-linear-gradient(
      170deg,
      #cccccc,
      #cccccc 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      #cccccc 1.25rem
    ),
    repeating-linear-gradient(
      260deg,
      #cccccc,
      #cccccc 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      #cccccc 1.25rem
    );
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;

    .upload-text {
      font-size: 0.75rem;
      color: var(--text-default);
    }

    .file-format {
      margin-top: 0.125rem;
      font-size: 0.75rem;
      color: #cccccc;
    }
  }

  .upload-label {
    background: none;
    border: none;
    color: #2f80ed;

    &:hover {
      cursor: pointer;
    }
  }
}

.upload-btn {
  border: none;
  background: none;
}